{% extends "base.html" %}

{% block content %}
<style>
        h1      {font-family: Verdana, Geneva, Tahoma, sans-serif;}
        table   {margin: 1em 1.5em;}
        td      {padding: 2px;}
        input   {font-family: monospace;
                font-size: 14pt;
                padding: 5px;
                font-style: italic;}
        .error  {color: red; 
                font-family: monospace;
                font-size: 14pt;
                font-style: italic;}
        .button {font-family: monospace; 
                font-size: 14pt;
                margin: 10px;}
        .center {text-align: center;}
</style>
<form method='POST'>

    <table>
        <tr>
            <th><h1>Signup!</h1></th>
        </tr>
        <tr>
            <td><input type="text" name="username" placeholder="Username" id="username" value="{{username}}" /></td>
            <td><span class="error">{{username_error}}</span></td>
        </tr>
        <tr>
            <td><input type="password" name="password" placeholder="Password" id="password" /></td>
            <td><span class="error">{{password_error}}</span></td>
        </tr>
        <tr>
            <td><input type="password" name="verify_password" placeholder="Verify Password" id="verify_password" /></td>
            <td><span class="error">{{verify_password_error}}</span></td>
        </tr>
        <tr>
            <td><input type="text" name="email" placeholder="Email" id="email" value="{{email}}" /></td>
            <td><span class="error">{{email_error}}</span></td>
        </tr>
        <tr class="center">
            <td><input type="submit" class="button"/></td>
        </tr>
    </table>
</form>

{% endblock %}